In [1]:
import pandas as pd
import numpy as np

In [2]:
# file paths for data that will need to be merged.

indexed_countries_path = "/Users/alliblk/Desktop/gitrepos/zika-usvi/data/indexed-countries.tsv"
pop_sizes_path = "/Users/alliblk/Desktop/gitrepos/zika-usvi/data/predictors/cia-world-fact-book-popsizes.txt"
paho_case_counts_path = "/Users/alliblk/Desktop/gitrepos/zika-usvi/data/metadata/paho-cumul-case-2017-07-13.xls"
genome_counts_path = "/Users/alliblk/Desktop/gitrepos/zika-usvi/data/all-zika-fauna-nextstrain-counts-2017-07-05.tsv"

In [3]:
master_df = pd.read_table(indexed_countries_path)

In [4]:
#read in from other files that have information that we want, but from more countries than the set we care about.
#merge dataframes on the indexed countries df to ensure we only keep records from countries of interest.


#country population sizes
pop_size_df = pd.read_table(pop_sizes_path)
del pop_size_df['rank'] #doesn't matter, part of world fact book export

#numbers of genomes available, either on fauna, or on nextstrain (sometimes less than what's on fauna)
genome_count_df = pd.read_table(genome_counts_path)

#merging
master_df = pd.merge(master_df, genome_count_df, on='country', how='left')
#remove NaNs from genome counts > replace with zeros
master_df.fillna(value=0.0, inplace= True)

master_df = pd.merge(master_df, pop_size_df, on='country', how='left')

In [5]:
print master_df
print(master_df.dtypes)

    xml_index                           country           region  fauna_count  \
0           1                     united_states    north_america         41.0
1           2                           bermuda    north_america          0.0
2           3                            mexico    north_america         17.0
3           4                            belize  central_america          0.0
4           5                         guatemala  central_america          3.0
5           6                          honduras  central_america         23.0
6           7                       el_salvador  central_america          1.0
7           8                         nicaragua  central_america          8.0
8           9                        costa_rica  central_america          0.0
9          10                            panama  central_america          4.0
10         11                           bahamas        caribbean          0.0
11         12                              cuba        caribbean          1.0
12         13                  turks_and_caicos        caribbean          0.0
13         14                    cayman_islands        caribbean          0.0
14         15                           jamaica        caribbean          5.0
15         16                             haiti        caribbean         10.0
16         17                dominican_republic        caribbean          0.0
17         18                       puerto_rico        caribbean          6.0
18         19                              usvi        caribbean         31.0
19         20                               bvi        caribbean          0.0
20         21                          anguilla        caribbean          0.0
21         22                      saint_martin        caribbean          0.0
22         23                      sint_maarten        caribbean          0.0
23         24                  saint_barthelemy        caribbean          1.0
24         25       bonaire_sint_eustatius_saba        caribbean          0.0
25         26             saint_kitts_and_nevis        caribbean          0.0
26         27               antigua_and_barbuda        caribbean          0.0
27         28                        montserrat        caribbean          0.0
28         29                        guadeloupe        caribbean          1.0
29         30                          dominica        caribbean          0.0
30         31                        martinique        caribbean          3.0
31         32                       saint_lucia        caribbean          0.0
32         33  saint_vincent_and_the_grenadines        caribbean          0.0
33         34                          barbados        caribbean          0.0
34         35                           grenada        caribbean          0.0
35         36               trinidad_and_tobago        caribbean          0.0
36         37                           curacao        caribbean          0.0
37         38                             aruba        caribbean          0.0
38         39                     french_guiana    south_america          1.0
39         40                          suriname    south_america          3.0
40         41                            guyana    south_america          0.0
41         42                         venezuela    south_america          9.0
42         43                          colombia    south_america         13.0
43         44                           ecuador    south_america          2.0
44         45                              peru    south_america          2.0
45         46                           bolivia    south_america          0.0
46         47                            brazil    south_america        107.0
47         48                          paraguay    south_america          0.0
48         49                           uruguay    south_america          0.0
49         50                         argentina    south_america          0.0
50         51                             chile    south_america          0.0

    nextstrain_count  n_seqs_unpublished     pop_size
0               35.0                 0.0  323995528.0
1                0.0                 0.0      70537.0
2               17.0                 0.0  123166749.0
3                0.0                 0.0     353858.0
4                3.0                 0.0   15189958.0
5               23.0                 0.0    8893259.0
6                1.0                 0.0    6156670.0
7                8.0                 0.0    5966798.0
8                0.0                 0.0    4872543.0
9                4.0                 0.0    3705246.0
10               0.0                 0.0     327316.0
11               1.0                 1.0   11179995.0
12               0.0                 0.0      51430.0
13               0.0                 0.0      57268.0
14               4.0                 0.0    2970340.0
15              10.0                 6.0   10485800.0
16               0.0                 0.0   10606865.0
17               6.0                 0.0    3578056.0
18              31.0                 0.0     102951.0
19               0.0                 0.0      34232.0
20               0.0                 0.0      16752.0
21               0.0                 0.0      31949.0
22               0.0                 0.0      41486.0
23               1.0                 1.0       7209.0
24               0.0                 0.0          NaN
25               0.0                 0.0      52329.0
26               0.0                 0.0      93581.0
27               0.0                 0.0       5267.0
28               1.0                 1.0          NaN
29               0.0                 0.0      73757.0
30               3.0                 0.0          NaN
31               0.0                 0.0     164464.0
32               0.0                 0.0     102350.0
33               0.0                 0.0     291495.0
34               0.0                 0.0     111219.0
35               0.0                 0.0    1220479.0
36               0.0                 0.0     149035.0
37               0.0                 0.0     113648.0
38               1.0                 0.0          NaN
39               3.0                 0.0     585824.0
40               0.0                 0.0     735909.0
41               5.0                 0.0   30912302.0
42              13.0                 0.0   47220856.0
43               2.0                 0.0   16080778.0
44               2.0                 0.0   30741062.0
45               0.0                 0.0   10969649.0
46              84.0                 0.0  205823665.0
47               0.0                 0.0    6862812.0
48               0.0                 0.0    3351016.0
49               0.0                 0.0   43886748.0
50               0.0                 0.0   17650114.0
xml_index               int64
country                object
region                 object
fauna_count           float64
nextstrain_count      float64
n_seqs_unpublished    float64
pop_size              float64
dtype: object

In [8]:
#CIA world fact book does not have population sizes for the following countries in our dataset.
#These will need to be looked up somewhere else (e.g. UN population size data) and entered manually.
master_df[master_df['pop_size'].isnull()]

,xml_index,country,region,pop_size,fauna_count,nextstrain_count,n_seqs_unpublished
24,25,bonaire_sint_eustatius_saba,caribbean,NaN,NaN,NaN,NaN
28,29,guadeloupe,caribbean,NaN,1.0,1.0,1.0
30,31,martinique,caribbean,NaN,3.0,3.0,0.0
38,39,french_guiana,south_america,NaN,1.0,1.0,0.0

In [6]:
# fill in pop sizes that weren't in CIA factbook manually, using census data
# below: intuition for funky pandas indexing.
# using locate (.loc), tell it which row you want (with conditional), then say which column you're editing == value.)

master_df.loc[master_df['country'] == 'bonaire_sint_eustatius_saba', 'pop_size'] = 24593.0 #source: http://statline.cbs.nl/StatWeb/publication/?DM=SLNL&PA=80539ned&D1=0-1,9-10&D2=a&D3=a&HDR=T&STB=G1,G2&CHARTTYPE=1&VW=T
master_df.loc[master_df['country'] == 'guadeloupe', 'pop_size'] = 402119.0 #source: https://www.insee.fr/fr/statistiques/1895182
master_df.loc[master_df['country'] == 'martinique', 'pop_size'] = 385551.0 #source: https://www.insee.fr/fr/statistiques/1895162
master_df.loc[master_df['country'] == 'french_guiana', 'pop_size'] = 252338.0 #source: https://www.insee.fr/fr/statistiques/1405599?geo=REG-03

In [8]:
#mask out all countries except those that have less than 50,000 residents (which we might drop from the analysis)
master_df.where(master_df['pop_size']< 50000)

,xml_index,country,region,fauna_count,nextstrain_count,n_seqs_unpublished,pop_size
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20.0,bvi,caribbean,0.0,0.0,0.0,34232.0
20,21.0,anguilla,caribbean,0.0,0.0,0.0,16752.0
21,22.0,saint_martin,caribbean,0.0,0.0,0.0,31949.0
22,23.0,sint_maarten,caribbean,0.0,0.0,0.0,41486.0
23,24.0,saint_barthelemy,caribbean,1.0,1.0,1.0,7209.0
24,25.0,bonaire_sint_eustatius_saba,caribbean,0.0,0.0,0.0,24593.0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28.0,montserrat,caribbean,0.0,0.0,0.0,5267.0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
print master_df.loc[master_df['country'] == 'saint_kitts_and_nevis']
print master_df.loc[master_df['country'] == 'turks_and_caicos']

    xml_index                country     region  fauna_count  \
25         26  saint_kitts_and_nevis  caribbean          0.0

    nextstrain_count  n_seqs_unpublished  pop_size
25               0.0                 0.0   52329.0
    xml_index           country     region  fauna_count  nextstrain_count  \
12         13  turks_and_caicos  caribbean          0.0               0.0

    n_seqs_unpublished  pop_size
12                 0.0   51430.0

In [7]:
#write out genome counts to csv
master_df.to_csv(path_or_buf = '/Users/alliblk/Desktop/gitrepos/zika-usvi/data/genome_counts.tsv', sep = '\t', columns = ['country','region','fauna_count','nextstrain_count','n_seqs_unpublished'])